@model BlackRockEvents.Models.Professional
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <h1 class="text-center">Edit Professional</h1>
    <hr />
    <div class="text-right">
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
        <div class="container align-content-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Professional_Id" />
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfessionName" class="control-label"></label>
                            <input asp-for="ProfessionName" class="form-control" />
                            <span asp-validation-for="ProfessionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhotoName" class="control-label"></label>
                            <input asp-for="PhotoName" class="form-control" />
                            <span asp-validation-for="PhotoName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
