@{
    ViewData["Title"] = "Home";
}
<div class="wrapper">
    <div id="imagesAndDescription">
    <h1 class="text-center">Black Rock Events</h1>
        <div id="blackRockSlideShow" class="carousel slide carousel-fade mb-3" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#blackRockSlideShow" data-slide-to="0" class="active"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="1"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="2"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="3"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="4"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="5"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="6"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="7"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="8"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="9"></li>
                <li data-target="#blackRockSlideShow" data-slide-to="10"></li>
            </ul>
            <div class="carousel-inner">
                    <div class="carousel-item active justify-content-center">
                      <img src="Images/event1.jpg" alt="">
                        <div class="carousel-caption">
                            <h1>Main Hall</h1>
                            <p>Perfect for weddings!</p>
                        </div>
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event2.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event3.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event4.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event5.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event6.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event7.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event8.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event9.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event10.jpg" alt="">
                    </div>
                    <div class="carousel-item justify-content-center">
                      <img src="Images/event11.jpg" alt="">
                    </div>
             </div>
            <a class="carousel-control-prev" href="#blackRockSlideShow" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
             <a class="carousel-control-next" href="#blackRockSlideShow" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div id="description">
            <p>Black Rock Events is located in the Rocky Mountains of Utah. High up in the Ogden Canyon. Nestled in beautiful nature, the outdoor scenery makes for amazing photos.  
            Built in 1978, with an event center being its original purpose, its layout is well thought out. The Main Hall has a stage with a piano and red curtain. The floor is hardwood 
            in the main hall and in the overflow. There is a kitchen for caterers and a back room for professionals who need staging or whatever the occassion may need. 
            The maximum capacity of an event with us is 200 people. 
            </p>
        </div>
    </div>
</div>